body{
    background: #ebd494;
    color: #a77e58;
}
.container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
header{
    margin-bottom: 20px;
    background: #fff9c2;
    text-align: center;
}
ul{
    font-family: 'Mv Boli','Noteworthy',sans-serif;
    list-style-type: none;
    width: 480px;
    margin: 0 auto;
    padding: 15px 40px;
}
li{
    display: inline;
}
ul li a{
    padding: 10px 25px;
    font-size: 22px;
    text-decoration: none;
    color: #a77e58;
}
ul li a:hover{
    color: #9ad2cb;
}
.home,.access{
    width: 94px;
}
main{
    background: #fff9c2;
    margin-bottom: 20px;
}
main h2{
    width: 360px;
    border-bottom: dashed 3px;
    margin: 0 auto;
}
.about{
    padding: 20px;
}
.ranking{
    height: 780px;
}
.ranking img{
    width: 250px;
}
.ranking p{
    margin: 0;
}
.top3{
    margin-top: 16px;
}
.rank1,.rank2,.rank3{
    width: 400px;
    background: rgba(254,255,241,0.5);
    padding: 20px 0px;
    position: relative;
}
.rank1{
    margin: 0 auto;
}
.rank2,.rank3{
    float: left;
    margin: 2% 5%;
}
.ribbon1,.ribbon2,.ribbon3{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    padding: 0 12px;
    margin: 0;
    height: 30px;
    line-height:30px;
    color: white;
    background: #fc5d67;
    box-shadow: 0 2px 2px rgba(0,0,0,0.12);
}
.ribbon1:before,.ribbon2:before,.ribbon3:before{
    position: absolute;
    content: "";
    top: 0;
    left: -7px;
    height: 38px;
    width: 7px;
    background: #fc5d67;
    border-radius: 5px 0 0 5px;
}
.ribbon1:after,.ribbon2:after,.ribbon3:after{
    position: absolute;
    content: "";
    bottom: -7px;
    left: -5px;
    height: 7px;
    width: 5px;
    background: #a61f3f;
    border-radius: 5px 0 0 5px;
}
.footer{
    background: #d7ebba;
    padding: 10px;
}