html{
    font-size: 62.5%;
}
body{
    background: #ebd494;
    color: #a77e58;
    font-size: 1.6rem;
}
.container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
header{
    margin-bottom: 20px;
    background: #fff9c2;
    text-align: center;
}
ul{
    font-family: 'Mv Boli','Noteworthy',sans-serif;
    list-style-type: none;
    width: 95%;
    margin: 0 auto;
    padding: 5% 0;
}
li{
    display: inline;
}
ul li a{
    padding: 10px 25px;
    font-size: calc(2rem + (1vw - 0.56rem) * 1.0000);
    text-decoration: none;
    color: #a77e58;
}
ul li a:hover{
    color: #9ad2cb;
}
main{
    background: #fff9c2;
    margin-bottom: 20px;
    padding-bottom: 25px;
}
main h2{
    width:360px;
    border-bottom: dashed 3px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: calc(2rem + (1vw - 0.56rem) * 1.0000);
}
.about{
    padding: 20px;
}
.ranking img{
    width: 70%;
}
.ranking p{
    margin: 0;
}
.top3{
    margin-top: 16px;
}
.rank1,.rank2,.rank3{
    width: 40%;
    background: rgba(254,255,241,0.5);
    padding: 3% 0%;
    position: relative;
}
.rank1{
    margin: 0 auto;
}
.rank2,.rank3{
    display: inline-block;
    margin: 4%;
}
.ribbon{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    padding: 0 12px;
    margin: 0;
    height: 30px;
    line-height:30px;
    color: white;
    background: #fc5d67;
    box-shadow: 0 2px 2px rgba(0,0,0,0.12);
}
.ribbon:before{
    position: absolute;
    content: "";
    top: 0;
    left: -7px;
    height: 38px;
    width: 7px;
    background: #fc5d67;
    border-radius: 5px 0 0 5px;
}
.ribbon:after{
    position: absolute;
    content: "";
    bottom: -7px;
    left: -5px;
    height: 7px;
    width: 5px;
    background: #a61f3f;
    border-radius: 5px 0 0 5px;
}
.ribbon_small{
    display: none;
}
.map img{
    width: 70%;
    margin-top: 16px;
}
.map p{
    width: 380px;
    margin: 0 auto;
    padding: 50px;
}
.direction{
    display: block;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}
.recommend{
    margin: 0 auto;
    width: 950px;
    padding-top: 30px;
}
.recommend img{
    width: 400px;
    height: 300px;
    padding: 0px 30px 30px;
}
.recommend h3{
    margin: 0;
}
.park p,.street p{
    margin: 10px;
}
.park,.street{
    width: 450px;
    display: inline-block;
    margin-top: 16px;
}
.lesson1,.lesson2{
    width: 880px;
    margin: 0 auto;
    padding: 30px;
}
.lesson1 img,.lesson2 img{
    width: 400px;
    height: 550px;
    vertical-align: middle;
}
.about_lesson{
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.lesson1 p,.lesson2 p{
    text-align: left;
    padding: 0px 30px;
}
.capacity1{
    color: blue;
}
.capacity2{
    color: red;
}
.reserve_lesson{
    width: 800px;
    margin: 0 auto;
    background: rgba(254,255,241);
    padding: 10px;
    border-radius: 8px;
}
.reservation_form{
    border: dashed 2px;
    border-radius: 8px;
    padding: 20px;
}
.item{
    text-align: left;
}
.label{
    display: inline-block;
    padding: 10px;
    width: 180px;
}
footer{
    background: #d7ebba;
    padding: 10px;
}
@media screen and (max-width: 959px){
    *{
        box-sizing: border-box;
    }
    body{
        font-size: 1.4rem;
    }
    .container{
        width: 100%;
    }
    header img{
        max-width: 100%;
        height: auto;
    }
    main h2{
        font-size: 2.4rem;
        width: 100%;
    }
    /* 各ページの見出しの装飾は修正中です。 */
    .about{
        width: 80%;
        margin: 0 auto;
    }
    .about p{
        text-align: left;
    }
    .ribbon{
        display: none;
    }
    .ribbon_small{
        display: inline-block;
        position: absolute;
        top: 0;
        left:-7px;
        padding: 5px 0;
        margin: 0;
        width: 40px;
        height: auto;
        color: white;
        background: #fc5d67;
    }
    .ribbon_small:after{
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        border-left: 20px solid #fc5d67;
        border-right: 20px solid #fc5d67;
        border-bottom: 10px solid transparent;
    }
}
@media screen and (max-width: 480px){
    body{
        font-size: 1.0rem;
    }
    .container{
        width: 100%;
    }
    li{
        display: block;
        padding: 2%;
        margin: 2%;
        background: rgba(254,255,241,0.5);
        border-radius: 30px;
    }
    li:hover{
        background: #fefff1;
    }
    ul li a{
        display: block;
        padding: 0;
    }
    main h2{
        font-size: 2.0rem;
    }
}